export const ACTIONS = {
<% for(var i=0; i<actions.length; i++) {%>
    <%= actions[i] %>: "<%= actions[i] %>", <% } %>
};

const defaultState = {};
let actionHandler = {};
<% for(var i=0; i<actions.length; i++) {%>
actionHandler.<%= actions[i] %> = (state, action) => {
    return state;
};
<% } %>

export default (state = defaultState, action) => {

    switch (action.type) {
<% for(var i=0; i<actions.length; i++) {%>
        case ACTIONS.<%= actions[i] %>:
            return actionHandler.<%= actions[i] %>(state, action); <% } %>
        default:
            return state;
    }
}